@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #111827;
  background: #ffffff;
}

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }
body { margin: 0; background: #ffffff; color: #111827; }

a { color: inherit; text-decoration: none; }


/* Masquer la scrollbar tout en gardant le scroll fonctionnel */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
